/**
 * Custom dashboard styles.
 */

.afp-dashboard-summary {

	ul {
		padding: 0 !important;

		li {
			display: inline;
			font-size: 16px;

			&:not(:last-of-type) {
				margin-right: 1em;
			}

			a {
				&:before {
					display: inline-block;
					font-family: 'dashicons';
					font-size: 1.25em;
					vertical-align: sub;
				}
			}
		}
	}

	#wp-version-message + p {
		display: none;
	}
}

#dashboard_right_now .post-count.project-count a:before,
#dashboard_right_now .post-count.project-count span:before,
.afp-dashboard-summary .post-count.project-count a:before,
.afp-dashboard-summary .post-count.project-count span:before {
	content: '\f480';
}

#dashboard_right_now .post-count.press-count a:before,
#dashboard_right_now .post-count.press-count span:before,
.afp-dashboard-summary .post-count.press-count a:before,
.afp-dashboard-summary .post-count.press-count span:before {
	content: '\f488';
}

#dashboard_right_now .post-count.gallery-count a:before,
#dashboard_right_now .post-count.gallery-count span:before,
.afp-dashboard-summary .post-count.gallery-count a:before,
.afp-dashboard-summary .post-count.gallery-count span:before {
	content: '\f161';
}

.afp-dashboard-actions {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 6px;
	grid-row-gap: 6px;
	margin: 1em 0 0;
}

@media screen and (max-width: 1024px) {
	.afp-dashboard-actions {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.afp-dashboard-actions {
		grid-template-columns: repeat(1, 1fr);
	}
}

.afp-dashboard-post-type-actions-icon,
.afp-dashboard-content-actions-icon {
	margin: 1em 0 0;
}

.afp-dashboard-actions li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2em;
}

.afp-dashboard-actions h4 {
	margin: 1em 0 0;
	font-size: 1.2em;
}

.afp-dashboard-post-type-actions-icon .dashicons,
.afp-dashboard-content-actions-icon .dashicons {
	width: auto;
	height: auto;
}

.afp-dashboard-post-type-actions-icon .dashicons:before,
.afp-dashboard-content-actions-icon .dashicons:before {
	display: block;
    font-size: 2em;
}

.afp-dashboard-actions a {
	display: inline-block;
	margin: 0 0.65em;
}

.welcome-panel {
	background: inherit;

	&:before,
	&:after {
		background: none;
	}
}

.welcome-panel-content {
	padding-bottom: 1em;
}
