/**
 * Custom dashboard styles.
 */
#dashboard_right_now .post-count.project-count a:before,
#dashboard_right_now .post-count.project-count span:before {
  content: '\f480';
}

#dashboard_right_now .post-count.press-count a:before,
#dashboard_right_now .post-count.press-count span:before {
  content: '\f488';
}

#dashboard_right_now .post-count.gallery-count a:before,
#dashboard_right_now .post-count.gallery-count span:before {
  content: '\f161';
}
